@media (max-width: 800px) {
  .contenedor > h1{
    font-size: 30px !important;
  }
  .contenedor > p{
    font-size: calc()
  }
  .contenedorMenu p {
    font-size: 20px !important;
  }
}
@media (max-width: 1000px) {
  .contenedor {
    height: 100%;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 120px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: black;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu > li a {
  color: #fff;
 }
  .menu a:hover,li:hover {
  	background-color: #DED6BF;
  	color: black !important;
  }
  .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes h1 {
    font-size: 50px;  
  }
  .Franquicias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px){
  .cabecera h1 {
    display: none;
  }
}

@media (max-width: 1400px) {

	.contenedor > h1 {
  font-size: 50px;
  font-family: fontBold;
  margin-left: 0;
  margin-right: 0;
}
.contenedor > p {
  font-size: x-large;
  font-family: fontRegular;
  margin-left: 0;
  margin-right: 0;
}

.contentSlider{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliderDiv{
  width: 100%;
}
.textoSlider{
  width: 100%;
}
.contentContacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto {
  width: 100%;
}
.mapa{
  width: 100%;
}

}